<div class="body_wrapper">
    <section class="login_area">
        <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    <div class="login_info">
                        <h2 class="f_p f_700 f_size_40 t_color3 mb_20">Create Account</h2>
                        <p class="f_p f_400 f_size_15">Sign up to get started<br><a href="#"></a></p>
                        <form class="login-form mt_60" name="form" (ngSubmit)="f.form.valid && register()" #f="ngForm" novalidate>
                            <div class="form-group text_box" [ngClass]="{ 'has-error': f.submitted && !firstName.valid }">
                                <label for="firstName" class="f_p text_c f_400">First Name</label>
                                <input type="text" class="form-control" name="firstName" [(ngModel)]="model.firstName" #firstName="ngModel" required />
                                <div *ngIf="f.submitted && !firstName.valid" class="help-block">First Name is required</div>
                            </div>
                            <div class="form-group text_box" [ngClass]="{ 'has-error': f.submitted && !lastName.valid }">
                                <label for="lastName"class="f_p text_c f_400">Last Name</label>
                                <input type="text" class="form-control" name="lastName" [(ngModel)]="model.lastName" #lastName="ngModel" required />
                                <div *ngIf="f.submitted && !lastName.valid" class="help-block">Last Name is required</div>
                            </div>
                            <div class="form-group text_box" [ngClass]="{ 'has-error': f.submitted && !email.valid }">
                                <label for="email"class="f_p text_c f_400">Email</label>
                                <input type="text" class="form-control" name="email" [(ngModel)]="model.email" #email="ngModel" required />
                                <div *ngIf="f.submitted && !email.valid" class="help-block">Email is required</div>
                            </div>
                            <div class="form-group text_box" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
                                <label for="password"class="f_p text_c f_400">Password</label>
                                <input type="password" class="form-control" name="password" [(ngModel)]="model.password" #password="ngModel" required />
                                <div *ngIf="f.submitted && !password.valid" class="help-block">Password is required</div>
                            </div>
                            <div class="extra">
                                <div class="checkbox remember">
                                    <label>
                                        <input type="checkbox"> I agree to terms and conditions of this website
                                    </label>
                                </div>
                                <!--//check-box-->
                                <div class="forgotten-password">
                                    <a href="#">Forgot Password?</a>
                                </div>
                            </div>
                            <div class="form-group">
                                <button [disabled]="loading" class="price_btn btn_hover" style="margin-top: 10px">Register</button>
                                <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                            </div>
                            <div class="alter-login text-center mt_30">
                                Existing User? <a class="login-link" href="#">Log In</a>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-lg-4 d-flex align-items-center">
                    <div class="login_img">
                        <img src="../../assets/img/login_img2.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer class="footer_area footer_area_four pt_150 f_bg"  style="padding-top: 10px">
        <div class="footer_bottom">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-4 col-md-5 col-sm-6">
                        <p class="mb-0 f_400">Copyright © 2020</p>
                    </div>
                    <div class="col-lg-4 col-md-3 col-sm-6">

                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <ul class="list-unstyled f_menu text-right">
                            <li><a href="#">Terms of Use</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>
