<div class="edit-restaurant-pane">
    <div class="container">
        <div class="col-md-6 col-md-offset-3">
            <h1 class="">Update Restaurant Info</h1>
            <form name="form" (ngSubmit)="f.form.valid && update()" #f="ngForm" novalidate>
                <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !name.valid }">
                    <label for="name"class="">Name</label>
                    <input type="text" class="form-control" name="name" [(ngModel)]="model.name" #name="ngModel" required />
                    <div *ngIf="f.submitted && !name.valid" class="help-block">Name is required</div>
                </div>
                <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !type.valid }">
                    <label for="type"class="">Type</label>
                    <input type="text" class="form-control" name="type" [(ngModel)]="model.type" #type="ngModel" required />
                    <div *ngIf="f.submitted && !type.valid" class="help-block">Type is required</div>
                </div>
                <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !location.valid }">
                    <label for="location"class="">Location</label>
                    <input type="text" class="form-control" name="location" [(ngModel)]="model.location" #location="ngModel" required />
                    <div *ngIf="f.submitted && !location.valid" class="help-block">Email is required</div>
                </div>
                <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !comment.valid }">
                    <label for="comment"class="">Comment</label>
                    <textarea type="text" class="form-control" name="comment" [(ngModel)]="model.comment" #comment="ngModel" required rows="5" ></textarea>
                    <div *ngIf="f.submitted && !comment.valid" class="help-block">Comment is required</div>
                </div>
                <div class="form-group">
                    <button [disabled]="loading" (onclick)="save()" class="btn btn-success  mr-2">Update</button>
                    <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                    <a [routerLink]="['/restaurant']" class="btn btn-link btn-warning ">Back</a>
                </div>
            </form>
        </div>
    </div>
</div>
        