menu {
  margin: 0;
  padding: 0;
}

.edit-user-pane {
  height: 100%;
  background-color: #0084cf;;
}

.edit-user-pane .container{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}