<div class="body_wrapper">
    <section class="s_pricing_area sec_pad">
        <div class="container custom_container">
            <div class="review-pane">
                <div class="container">
                    <h2 class="mt-5 mb-4">Users</h2>
                    <table class="table table-hover">
                        <thead>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Actions</th>
                        </thead>
                        <tbody>
                        <tr *ngFor="let user of users">
                            <td>
                                {{user.firstName}} {{user.lastName}}
                            </td>
                            <td>{{ user.email }}</td>
                            <td>
                                <button class="btn btn-outline-info" (click)="editUser(user._id['$oid'])">Edit</button>
                                <button class="btn btn-outline-danger" (click)="deleteUser(user._id['$oid'])">Delete</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
</div>
