alembic==0.9.8
aniso8601==3.0.0
attrs==19.3.0
bcrypt==3.1.4
bson==0.5.8
cffi==1.13.2
click==6.7
cryptography==2.8
Flask==1.1.1
Flask-Bcrypt==0.7.1
Flask-Cors==3.0.3
Flask-JWT-Extended==3.24.1
Flask-Migrate==2.1.1
Flask-PyMongo==2.3.0
flask-restplus==0.10.1
Flask-Script==2.0.6
Flask-SocketIO==2.9.3
Flask-SQLAlchemy==2.3.2
Flask-Testing==0.7.1
itsdangerous==0.24
Jinja2==2.10.3
jsonschema==2.6.0
Mako==1.0.7
MarkupSafe==1.0
pycparser==2.18
PyJWT==1.7.1
pymongo==3.9.0
pyrsistent==0.15.5
python-dateutil==2.7.0
python-editor==1.0.3
python-engineio==3.10.0
python-socketio==4.3.1
pytz==2018.3
six==1.11.0
SQLAlchemy==1.2.5
Werkzeug==0.16.0
